*{
    box-sizing: border-box;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center
}
#email{
    text-align: center;
    width: 20rem;
    height: 2rem;
    border: 1px green solid;
}
.btn{
    width: 10rem;
    align-content: center;
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center
}
